.projectContainer {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: center;
  .opTile {
    border-radius: 5px;
    object-fit: cover;
    margin: 1em;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    &:hover {
      transform: scale(1.03);
    }
    @media only screen and (min-width: 1200px) {
      width: 300px;
      height: 230px;
    }
  }
}
