.topBtn {
  background-color: var(--clr-accent);
  height: 50px;
  width: 50px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: -10%;
  right: 5%;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  box-shadow: none;
  border: none;
  box-shadow: 2px 5px 15px rgba(105, 105, 105, 0.315);
  transition: all 0.5s ease-in-out;

  &:focus {
    outline: none;
  }

  svg {
    height: 11px;
    transform: scale(1.2);
  }

  &.show {
    opacity: 1;
    bottom: 80px;
    @media only screen and (min-width: 1200px) {
      bottom: 80px;
    }
  }
}
