.layout {
  /* background-color: var(--clr-bg-dark); */

  .reveal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 11;
  }
}
/* body {
    background-color: var(--clr-bg-dark);
  } */
