/* About */

.aboutGrid {
  display: grid;
  grid-template-areas:
    "title"
    "ppic"
    "a-content";
  gap: 50px;
  justify-items: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

.profPicContainer {
  grid-area: ppic;
  width: max-content;
  border: 1px solid var(--clr-text);
  img {
    width: 100%;
    max-width: 300px;
    transform: translate(10px, -10px);
  }
}

.aboutExpander {
  grid-area: title;
  line-height: 1;
}

.aContent {
  grid-area: a-content;
}

@media only screen and (min-width: 1200px) {
  .aboutGrid {
    grid-template-areas:
      "title title"
      "ppic a-content";
    justify-items: left;
  }
}
